
body {
    margin: 0;
    padding: 0;  
    overflow-y: hidden;
    overflow-x: hidden;
    display:flex;
    /* height: 100vh;
    width: 100vw; */
    
}

body::before {
    content:'';
    background-image: url(assets/wouter-supardi-salari-DOtMoKCauyU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position:absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .55;
}

.player-one, .player-two {
    /* border: 2px solid white; */
    width: 25vw;
    height: 100vh;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    margin-top: 3em;
    font-family: 'Poppins', sans-serif;
}

.play-section {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 0.3em solid rgb(123, 116, 116);
    border-right: 0.3em solid rgb(123, 116, 116)
}

.play-section-header, 
.wins,
.player-header {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    /* color:ghostwhite;    */
}

/* header */
.player-header {
    font-size: 5rem
}

/* tic tac toe board */
.grid-board {
    /*
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 15vh 15vh 15vh;
    margin-top: 35vh; */

    border: 1px solid salmon;
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 18vh);
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    /* height: 60vh; */
    /* background-color: whitesmoke;
    opacity: .65; */
    /* margin-top: 25vh; */
}

.box {
    border: 1px solid black;   
}
     
.middle-col {
    border-left: 2px solid black;
    border-right: 2px solid black 
}

.middle-row {
    border-top: 2px solid black;
    border-bottom: 2px solid black 
}

/* .player-one-emoji,
.player-two-emoji  */
.player-emoji,
.wins {
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
}

.wins {
    font-size: 2.5rem
}

.disable-click {
    pointer-events: none;
    /* cursor: not-allowed; */
}

.obscure {
    /* display: none; */
    opacity: .25;
}